header {
    background-color:black; 
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
}
.title {
    margin: 0;
    font-size: 24px;

}

.navigation-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}


.footer {
    background-color: black;
    color: white;
    text-align: center;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    position:fixed;
}


#registration

.Main-Content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 80vh; 
    padding: 20px;
    background-color: #e6f5f3;
    box-sizing: border-box;
}

.Form-Box {
    width: 400px;
    background-color: lightyellow;
    border: 5px solid dimgray;
    border-radius: 20px;
    padding: 22px 28px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-bottom: 100px;
    margin-top: 50px;

}

.Form-Box h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
    color: black;
}

.Form-Box label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: black;
}

.Form-Box input,
.Form-Box select {
    width: 100%;
    padding: 5px ;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    box-sizing: border-box;
}

.Form-Box button {
    width: 100%;
    padding: 10px;
    background-color: #26a69a;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    
}


.Form-Box p {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.Form-Box a {
    color: #26a69a;
    text-decoration: none;
}

#login
.Main-Content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 80vh; 
    padding: 20px;
    background-color: #e6f5f3;
    box-sizing: border-box;
}

.Login-Box{
    width: 400px;
    background-color: lightyellow;
    border: 5px solid dimgray;
    border-radius: 20px;
    padding: 22px 28px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-bottom: 100px;
    margin-top: 50px;
}
.Login-Box h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
    color: black;
}

.Login-Box label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: black;
}

.Login-Box input {
    width: 100%;
    padding: 5px ;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    box-sizing: border-box;
}

.Login-Box button {
    width: 100%;
    padding: 10px;
    background-color: #26a69a;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    
}


.Login-Box p {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.Login-Box a {
    color: #26a69a;
    text-decoration: none;
}

.error_message {
    color:red;
    text-align:center;
    font-weight:bold;
    margin-bottom:30px;

}


.PassWord-Box {
    max-width: 450px;
    margin: 50px auto;
    background-color: lightyellow;
    padding: 35px;
    border-radius: 15px;
    border: 2px solid #86c8bc;
}
