<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Management System</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">

</head>
<body>
    <header class="header">
        <div class="title"> Hospital Management System </div>
        <div class="navigation-links">
            {% if not session.get('name') %}
                <a href="{{  url_for('registration')  }}">Register</a>
                <a href="{{  url_for('login')  }}">Login</a>  
            
            {% elif session.get('role')=='patient' %}
                <a href="{{  url_for('login')  }}">Login</a>
                <a href="{{  url_for('logout')  }}">Logout</a>

            {% elif session.get('role')=='admin' %}
                <form action="{{ url_for('admin_search') }}" method="GET">
                    <input type="text" name="q" placeholder="search..." required>
                </form>
            {% endif %}
                   
        </div>

    </header>
    
    {% block content %}
    {% endblock %}
    
    <footer class="footer">
        <h3>&copy; 2025 Healthcare Hospital . All Rights Reserved</h3>
    </footer>
</body>

</html>