{% extends "base.html" %}

{% block title %}Login Page{% endblock %}

{% block content %}
<div class="Main-Content">
    <div class="Login-Box">
        <form action="{{ url_for('login') }}" method="POST">
            <h2>Login</h2>

            <label for ="username">Username</label>
            <input type="text" id="username" name="username" placeholder="Enter your Name" required>

            <label for ="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter your Password" required>

            <button type="submit">Login</button>

            <p>Already have an account? <a href="{{ url_for('forgot_password') }}">Forgot Password</a></p> 
            <p>Do not have an account?<a href="{{ url_for('registration' )}}">Register Here</a></p>
             
            {% if error_message %}
            {{ error_message }}
            {% endif %}




        </form>
    </div>
</div>


{% endblock %}
